html {
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,76,121,1) 42%, rgba(0,212,255,1) 100%);
  
  


}

h1.title1{
  color: #000000;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* shadow from external tool */
.weather {
  border-style: groove;
  border-color: #000000;
  border-width: 2px;
  width: 380px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  margin: 50px auto;
  background: rgb(119,38,230);
  background: linear-gradient(0deg, rgba(119,38,230,1) 0%, rgba(255,255,255,1) 100%);
  z-index: calc(-1);
  box-shadow:
  0.8px 2.2px 7.7px rgba(0, 0, 0, 0.34),
  1.9px 5.3px 18.5px rgba(0, 0, 0, 0.244),
  3.5px 9.9px 34.8px rgba(0, 0, 0, 0.203),
  6.3px 17.6px 62.1px rgba(0, 0, 0, 0.17),
  11.7px 33px 116.1px rgba(0, 0, 0, 0.137),
  28px 79px 278px rgba(0, 0, 0, 0.096)
  
  

}




.winfo img {
  margin-top: 25px;
  width: 100px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {

border: none;
outline: 0;
padding: 12px 25px;
font-size: 18px;
background-color: white;
color: black;
border-radius: 30px;
flex:1;
margin-right: 12px;

}


.search button {
  border: none;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


.search button img {
  width: 10px;
}


.winfo h1{
  font-size: 70px;
  font-weight: 500;
  margin-top: 5px;
}


.winfo h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -40px;
}



.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 50px;
}


.details .col img {
  width: 45px;
  margin-right: 10px;

}

.humidity, .wind{
  font-size : 27px;
}

.humidity p, .wind p {
  margin: 0px;
}

div.Todolist {
  background: rgb(148,74,250);
  background: linear-gradient(177deg, rgba(148,74,250,1) 0%, rgba(0,0,0,1) 100%);
  
  width: 380px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  box-shadow:
  0.8px 2.2px 7.7px rgba(0, 0, 0, 0.34),
  1.9px 5.3px 18.5px rgba(0, 0, 0, 0.244),
  3.5px 9.9px 34.8px rgba(0, 0, 0, 0.203),
  6.3px 17.6px 62.1px rgba(0, 0, 0, 0.17),
  11.7px 33px 116.1px rgba(0, 0, 0, 0.137),
  28px 79px 278px rgba(0, 0, 0, 0.096);

}


.placeholder1{
  color: #ffffff;
  background-color: #80787800;
  
  

}

ul.list {
  margin: auto;
  width: fit-content;
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}

button.buttonremove {
  color: white;
  background-color: #c5b9b900;
  
}

.game {
 color: #f2f2f2;
  text-align: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 250px;
  margin: 0 auto;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
  color: #333;
}

.status {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

button {
  margin-top: 5px;
  padding: 8px 20px;

  background-color: #226224;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 5px;
  cursor: pointer;

}





.menu-bar {
  display: flex;
  justify-content: center;
  align-items:last baseline;
  height: 50px;
  

}

.menu-item {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e6e6e6;
}
